html, body {
  margin: 0;
  padding: 0;
  background-color: black;

}
canvas {
  display: block;
  position: absolute;
  top: 100px;
  left:20px;
}
p{
  font-family: 'Montserrat', sans-serif;
}
#hintBox{
  position:absolute;
  left:720px;
  top:100px;
  border: 5px solid #ffbf00;
  transition-duration: 1s;
}

#textHint{
  color: #ffbf00;
  padding:20px;
  font-size: 18px;
}

#paintDescr{
  color: #b0b0b0;
  padding:20px;
  font-size: 12px;
}
